[submodule "vim/bundle/minpac"]
  path = vim/pack/minpac/start/minpac
  url = https://github.com/k-takata/minpac.git
[submodule "vim/pack/nerdtree/start/nerdtree"]
	path = vim/pack/nerdtree/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
