[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/minpac"]
  path = vim/pack/minpac/opt/minpac
  url = https://github.com/k-takata/minpac.git
